<div>
  <div class="row clearfix">
    <div>
      <div class="card chat-app">
        <table class="table people-list" style="cursor: pointer" *ngIf="true">
          <tbody class="list-unstyled chat-list mt-0 mb-0">
            <tr
              [hidden]="loading"
              *ngFor="let conversation of conversations"
              (click)="loadMessageThread(conversation.contactUsername)"
              class="clearfix"
            >
              <td>
                <div>
                  <img
                    class="img-circle rounded-circle me-2"
                    src="{{
                      conversation.contactPhotoUrl || './assets/user.png'
                    }}"
                    alt="avatar"
                  />
                  <div class="name">
                    {{ conversation.contactUsername | titlecase }}
                  </div>
                  <div class="status">
                    <span
                      [class.is-online]="
                        (presenceService.onlineUsers$ | async)?.includes(
                          conversation.contactUsername
                        )
                      "
                    >
                      <i class="fa fa-circle offline"></i>
                    </span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="chats" *ngIf="true">
          <div class="chat-header clearfix">
            <div class="row">
              <div class="col-lg-8">
                <a
                  href="javascript:void(0);"
                  data-toggle="modal"
                  data-target="#view_info"
                >
                  <img
                    src="{{ otherUserPhotoUrl || './assets/user.png' }}"
                    alt="avatar"
                  />
                </a>
                <div class="chat-about">
                  <h6 class="m-b-0">{{ otherUsername }}</h6>
                  <small>Last seen: 2 hours ago</small>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-container">
            <div class="chat-history">
              <ul
                #scrollMe
                style="overflow-y: scroll; overflow-x: hidden;"
                *ngIf="(messageService.messageThread$ | async)!.length > 0"
                class="chat"
              >
                <li
                  *ngFor="let message of messageService.messageThread$ | async"
                  class="clearfix"
                >
                  <div
                    class="message other-message float-right"
                    *ngIf="message.senderUsername === username"
                  >
                    <p>{{ message.content }}</p>
                  </div>
                  <div
                    class="message my-message"
                    *ngIf="message.senderUsername !== username"
                  >
                    <p>{{ message.content }}</p>
                  </div>
                </li>
              </ul>
            </div>

            <div class="card-footer chat-message">
            <form
              #messageForm="ngForm"
              (ngSubmit)="sendMessage()"
              autocomplete="off"
            >
              <div class="input-group">
                <input
                  name="messageContent"
                  required
                  [(ngModel)]="messageContent"
                  type="text"
                  class="form-control input-sm"
                  placeholder="Enter message here..."
                />
                <div class="input-group-append">
                  <button
                    [disabled]="!messageForm.valid"
                    class="btn btn-primary"
                    type="submit"
                  >
                    <i class="fa fa-send"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
