.navbar {
  display: flex;
  /* other styles */
  .dropdown-toggle, .dropdown-item {
    cursor: pointer;
  }
}



img {
  max-height: 40px;
  border: 1px solid white;
  display: inline;
}

/* Styles for smaller screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 50px;
  }

  .dropdown-toggle, .dropdown-item {
    /* adjust styles as needed */
  }

  img {
    max-height: 30px;
    /* adjust other styles as needed */
  }
}
